<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <ba-card title="Fill Event Data" baCardClass="with-scroll">
        <event-entry></event-entry>
      </ba-card>
    </div>
  </div>

</div>
