<div class="widgets">
  <div class="row">
    <buttons></buttons>
    <ba-card title="Manager Event Member Data" baCardClass="with-scroll">
      <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>

    <!--<ba-card title="Button Dropdowns" baCardClass="with-scroll">-->
      
    <!--</ba-card>-->

  </div>

</div>
