<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <ba-card title="Member List" baCardClass="with-scroll">
        <member-entry></member-entry>
      </ba-card>
    </div>
  </div>

</div>
