<div class="widgets">
  <div class="row">
    <ba-card title="Manager Event Member Data" baCardClass="with-scroll">
    <event-button></event-button>
      <ng2-smart-table [settings]="settings" [source]="source" (edit)="onApprove($event)" (delete)="onDelete($event)" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>

    <!--<ba-card title="Button Dropdowns" baCardClass="with-scroll">-->
      
    <!--</ba-card>-->

  </div>

</div>
