<div class="row btns-row">
  <!--<div class="col-sm-4 col-xs-6">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary" dropdownToggle addToggleClass="true">
        Primary
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-success" dropdownToggle addToggleClass="true">
        Success
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-info" dropdownToggle addToggleClass="true">
        Info
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>-->
  <!--<div class="col-sm-4 col-xs-6">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-default" dropdownToggle addToggleClass="true">
        {{selectedEvent}}
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item" (click)="setEventMembers( null, 'All Request Category' )" ><p style="color:blue">All Request Category</p></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item" (click)="setEventMembers( i.ev_id, i.event_name )" *ngFor='let i of eventList'><p style="color:blue">{{i.event_name}} - {{i.ev_id}}</p></li>
      </ul>
    </div>
  </div>-->
  <div class="col-sm-4 col-xs-6">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-default" dropdownToggle addToggleClass="true">
        {{selectedMemberType}}
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><p style="color:blue">Select List Type</p></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item" (click)="setMembersType( 'Individual' )" ><p style="color:blue">Individuals</p></li>
        <li class="dropdown-item" (click)="setMembersType( 'Group' )" ><p style="color:blue">Groups</p></li>
      </ul>
    </div>
  </div>
  <!--<div class="col-sm-4 col-xs-6">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-warning" dropdownToggle addToggleClass="true">
        Warning
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>-->
  <!--<div class="col-sm-4 col-xs-6">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-danger" dropdownToggle addToggleClass="true">
        Danger
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>-->
</div>

<!--<h5 class="panel-subtitle">Split button dropdowns</h5>

<div class="row btns-row">
  <div class="col-sm-4 col-xs-6 col-lg-4 col-md-6">
    <div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6 col-lg-4 col-md-6">
    <div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-success" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6 col-lg-4 col-md-6">
    <div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-info" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6 col-lg-4 col-md-6">
    <div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn btn-default">Default</button>
      <button type="button" class="btn btn-default" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6 col-lg-4 col-md-6">
    <div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-warning" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6 col-lg-4 col-md-6">
    <div class="btn-group flex-dropdown" dropdown>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-danger" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>-->
