<div class="widgets">

  <div class="row">
    <ba-card title="Event List" baCardClass="with-scroll">
      <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>
  </div>

</div>
