<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card title="Standard Fields" baCardClass="with-scroll">
        <event-entry></event-entry>
      </ba-card>
<!--
      <ba-card title="Input Groups" baCardClass="with-scroll">
        <group-inputs></group-inputs>
      </ba-card>

      <ba-card title="Selects" baCardClass="with-scroll">
        <select-inputs></select-inputs>
      </ba-card>-->
    </div>

    <!--<div class="col-md-6">
      <ba-card title="Validation States" baCardClass="with-scroll">
        <validation-inputs></validation-inputs>
      </ba-card>

      <ba-card title="Checkboxes & Radios" baCardClass="with-scroll">
        <checkbox-inputs></checkbox-inputs>
      </ba-card>

      <ba-card title="Rating" baCardClass="with-scroll">
        <rating-inputs></rating-inputs>
      </ba-card>
    </div>-->
  </div>

</div>
