<form>
  <div class="form-group">
    <label for="input01">Image Name</label>
    <input type="text" class="form-control" id="input01" placeholder="Enter Image Name">
  </div>
  <div class="form-group">
    <label for="input02">Password</label>
    <input type="password" class="form-control" id="input02" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="input03">Rounded Corners</label>
    <input type="text" class="form-control form-control-rounded" id="input03" placeholder="Rounded Corners">
  </div>
  <div class="form-group">
    <label for="input04">With help</label>
    <input type="text" class="form-control" id="input04" placeholder="With help">
    <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond one line.</span>
  </div>
  <div class="form-group">
    <label for="input05">Disabled Input</label>
    <input type="text" class="form-control" id="input05" placeholder="Disabled Input" disabled>
  </div>

  <div class="form-group">
    <label for="textarea01">Textarea</label>
    <textarea placeholder="Default Input" class="form-control" id="textarea01"></textarea>
  </div>

  <div class="form-group">
    <input type="text" class="form-control form-control-sm" id="input2" placeholder="Small Input">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-lg" id="input4" placeholder="Large Input">
  </div>
</form>
